@{
    var db = new tephraSystemEditor.Models.TephraSystemDataAccessLayer();
    var m = db.GetAllAttributes();
}

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        Specialties
    <span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu">
        <li>
            @Html.ActionLink("All", "Index", "Specialty")
        </li>
        @foreach(var attr in @m)
        {
            <li class="dropdown-submenu">
                    @Html.ActionLink(@attr.Name, "ShowAttribute", "Specialty", new {name = @attr.Name})
                    <ul>
                    @foreach(var skill in attr.Skills)
                    {
                       <li>
                           @Html.ActionLink(@skill.Name, "ShowSkill", "Specialty", new { name = @skill.Name})
                       </li>
                    }
                    </ul>
            </li>
        }
    </ul>
</li>
     